* {
    font-family: 'Montserrat', sans-serif;
!important;
}

body {
    font-family: 'Montserrat', sans-serif;
!important;
}

.tamanho {
    width: 10%;
    height: 10%;
!important;
}

.tamanho2 {
    width: 10%;
!important;
    height: 10%; !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form-control option {
    font-size:1vw;
}