* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

.modal {
    z-index: 999;
}

.modal-backdrop {
    display: none;
}

.data_user_update {
    text-align: center;
}

.img-responsive {
    border-radius: 5px;
}

/*nav css close*/

.main_header {
    padding: 0;
    border-radius: 5px;
}

.profile_body {
    padding-top: 0;
}

.page-header {
    background: #ccc;
    margin: 0;
}

.profile-head {
    width: 100%;
    background-color: rgb(127, 177, 62);
    float: left;
    padding: 15px 5px;
    border-radius: 5px;
}

.profile-head img {
    height: 70%;
    width: 70%;
    margin: 0;
    border-radius: 5px;
}

.profile-head h1 {
    width: 100%;
    padding: 5px 5px 0px 5px;
    text-align: justify;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.profile-head p {
    width: 100%;
    text-align: justify;
    padding: 0px 5px 5px 5px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
}

.profile-head a {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.profile-head ul {
    list-style: none;
    padding: 0;
}

.profile-head ul li {
    display: block;
    color: #ffffff;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
}

.profile-head ul li span {
    color: #ffffff;
    padding-right: 10px;
}

.profile-head ul li a {
    color: #ffffff;
}

.profile-head h6 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hve-pro {
    background-color: rgb(255, 102, 0);
    padding: 5px;
    width: 100%;
    height: auto;
    float: left;
}

.hve-pro p {
    float: left;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px 20px;
    font-family: 'Noto Sans', sans-serif;
}

h2.register {
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 25px;
    color: rgb(255, 102, 0);
}

.fom-main {
    overflow: hidden;
}

legend {
    font-family: 'Bitter', serif;
    color: #ff3200;
    border-bottom: 0px solid;
}

label.control-label {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 5px !important;
    text-align: left !important;
    text-transform: uppercase;
    color: #798288;
}

.submit-button {
    color: #fff;
    background-color: rgb(127, 177, 62);
    width: 190px;
    border: 0px solid;
    border-radius: 0px;
    transition: all ease 0.3s;
    margin: 5px;
    float: left;
}

.submit-button:hover, .submit-button:focus {
    color: #fff;
    background-color: rgb(0, 4, 51);
}

.hint_icon {
    color: #ff3200;
}

.form-control:focus {
    border-color: #ff3200;
}

select.selectpicker {
    color: #99999c;
}

select.selectpicker option {
    color: #000 !important;
}

select.selectpicker option:first-child {
    color: #99999c;
}

.input-group {
    width: 100%;
}

.uplod-picture {
    width: 100%;
    /*background-color: orange;*/
    color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.uplod-file {
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: rgb(0, 4, 51);
    border: 0px solid #a02e09;
    border-radius: 0px;
    transition: all ease 0.3s;
    margin: 5px;
}

.uplod-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.uplod-file:hover, .uplod-file:focus {
    color: #fff;
    background-color: rgb(255, 102, 0);
}

h4.pro-title {
    font-size: 24px;
    color: rgba(0, 4, 51, 0.96);
    text-transform: capitalize;
    text-align: justify;
    padding: 10px 15px;
    font-family: 'Bitter', serif;
}

.bio-table {
    width: 75%;
    border: 0px solid;
}

.bio-table td {
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
}

.bio-table > tbody > tr > td {
    border: 0px solid;
    text-transform: capitalize;
    color: rgb(0, 4, 51);
    font-size: 15px;
}

.responsiv-table {
    border: 0px solid;
}

.nav-menu li a {
    margin: 5px 5px 5px 5px;
    position: relative;
    display: block;
    padding: 10px 50px;
    border: 0px solid !important;
    box-shadow: none !important;
    background-color: rgb(78, 122, 56) !important;
    color: #fff !important;
    white-space: nowrap;
}

.nav-menu li.active a {
    background-color: rgb(127, 177, 62) !important;
}

.stick {
    position: fixed !important;
    top: 0;
    z-index: 999 !important;
    width: 100%;
    background: #ffffff !important;
    height: auto;
    transition: all ease 0.8s;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.stick a {
    line-height: 20px !important;
}

.stick img {
    margin: 0 !important;
}

.atualizar_perfil {
    background-color: #7fb13e;
    color: white;
}


@media all and (max-width: 768px) {

    .navbar-inverse .drop_menu {
        display: block;
        visibility: visible;
        width: 110px;
        height: 1000px;
        padding: 0px 20px;
        position: absolute;
        right: -100px;
        transition: all ease 0.5s;
        border-top: 0px solid;
        cursor: pointer;
    }

    .navbar-brand {
        padding: 0;
        margin-left: 10px !important;
    }

    a.menu {
        display: block !important;
        margin: 9px 2px;
        float: right;
        color: rgba(255, 102, 0, 0.98);
        border: 0px solid;
        background: none;
        font-size: 30px;
        width: 27px;
        position: relative;
        cursor: pointer;
    }

    a.menu:hover, a.menu:focus {
        color: rgb(0, 4, 51);
    }

    .drop_menu1 {
        display: block;
        visibility: visible;
        width: 250px;
        height: 1000px;
        padding: 5px 30px;
        position: absolute;
        right: 0 !important;
        background-color: #ffffff !important;
        transition: all ease 0.5s;
        border-top: 0px solid;
        cursor: pointer;
    }

}



@media all and (max-width: 430px) {
    .profile-head ul li {
        font-size: 12px !important;
    }

    .nav-menu li {
        width: 50%;
    }

    .bio-table > tbody > tr > td {
        font-size: 13px;
    }

}

